{
    "worlds": [
        {
            "version": "1.19.3",
            "target_platform": "minikube",
            "world_name": "minecraft-world",
            "gamemode": "survival"
        }
    ]
}
