load_module /usr/lib/nginx/modules/ngx_stream_module.so;
worker_processes 1;
user nginx;
events { worker_connections 1024; }
stream {
	server {
		listen ${LISTEN_PORT};
		proxy_pass	${HOST}:${MINECRAFT_PROXY_BEDROCK_PORT};
	} 
}
